#root {
    max-width: 1280px;
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.left {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
}

